* {
  box-sizing: border-box;
}

body {
  font: {
    family: $mainFont;
    size: $mainFontSize;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body, button, ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  font: {
    family: $mainFont;
  }
}

a {
  cursor: pointer;
  color: inherit;
}