.button {
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 24px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.button__mode {
    background-color: $button;
    transition: $transitionDuration;
    cursor: pointer;
    &:hover {
        background-color: $buttonGreenHover;
    }
}

.button__mode_input {
    text-align: center;
    cursor: pointer;
}

.button__save {
    padding: 5px 50px;
}

.button__add {
    line-height: 24px;
}