//colors
    $textColor: #222;
    $borderColor: gray;
    // $textareaBGCOlor: #f5f5f5;
    $textareaBGCOlor: rgba(127, 172, 119, .2);

//buttons
    $button: #DCDCDC;
    $buttonGreenHover: rgb(127, 172, 119);
    $buttonActive: green;

//fonts
    $mainFont: 'Open Sans', Helvetica, sans-serif;

//font sizes
    $mainFontSize: 16px;

//animation
    $transitionDuration: .5s;

//resolutions
    $desktop: 1280px;
    $laptop: 980px;
    $tablet: 768px;
    $smartphone: 480px;
    $phone: 320px;