.app {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: $textColor;
}

.app__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
}

.app__title {
    margin-bottom: 40px;
    padding: 10px;

    @include laptop {
        @include smartphoneGRZ {
            margin-bottom: 0;
        }
    }

    @include smartphone {
        margin-bottom: 0;
    }
}

.app__main {
    display: flex;
    width: 98%;
    height: 60vh;
    justify-content: space-around;

    @include laptop {
        @include smartphoneGRZ {
            height: 80vh;
        }
    }

    @include smartphone {
        flex-direction: column;
        height: 90vh;
    }
}

.app__container {
    display: flex;
    width: 68%;
    height: inherit;
    justify-content: space-around;

    @include laptop {
        @include smartphoneGRZ {
            height: 80vh;
        }
    }

    @include smartphone {
        width: 100%;
        height: 68vh;
    }

    @include phone {
        height: 64vh;
    }
}

#app__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}